.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}

.primary {
  background-color: #7b6ef6;
}
