.addCardLink {
  gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  color: #7b6ef6;
  display: inline-flex;
  cursor: pointer;
}

.addCardLink:hover {
  color: #7b6ef6;
}
