button {
  border-radius: 0.75rem;
  padding: 0 2rem;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  height: 3.5rem;
  font-weight: 400;
  color: #fff;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary {
  border: 2px solid #7b6ef6;
  background: #7b6ef6;
}
