button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  line-height: 150%;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary {
  border: 2px solid #7b6ef6;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  background: #7b6ef6;
}
