.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  margin: 3rem 0;
}
.cardList > * {
  /* flex: 0 0 23.5%; */
}

.notFound {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 580px;
  align-items: center;
  margin: 3rem auto;
}

.header {
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  color: #ebeef5;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #767e94;
}
