.navbar {
  display: flex;
  gap: 1rem;
}

.navbar a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #a8aebf;
}
.navbar a:hover,
.navbar a:focus,
.navbar a.active {
  color: #fff;
}
